@use "../abstracts"as *;

.footer {
    position: relative;
    width: 100%;
    min-height: 50vh;
    padding: 30px 30px 10px 30px;
    background-color: #FFF6EA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .footer-sections {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;

        .links {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h4 {
                color: $tertiaryColor;
                font-family: $tertiaryFont;
                position: relative;
                font-size: 1.3rem;
                font-weight: 600;
                text-align: center;
                padding-bottom: 5px;
            }

            h4::after {
                content: '';
                position: absolute;
                width: 100px;
                height: 1.4px;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background: #86933dbc;
                z-index: 1;
            }
            ul {
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: .3rem;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: #86933d94;
                        transition: all .3s;
                        font-size: 1.1rem;
                        &:hover {
                            color: $tertiaryColor;
                        }
                    }
                    .footer-social {
                        svg {
                            padding: 5px;
                            width: 40px;
                            transition: all .3s;
                            fill: #86933d94;
                            &:hover {
                                fill: $tertiaryColor;
                            }
                        }

                    }
                }
            }
            .flex-row {
                flex-direction: row;
                gap: 1rem;
            }
        }
    }
    
    
    .footer-legal {
        position: relative;
        margin-top: 20px;
        display: grid;
        place-content: center;
        .footer-legal-copyright {
            color: #4444448d;
            padding: 10px;
        }
        .footer-legal-copyright::after {
            content: '';
            position: absolute;
            width: 90%;
            height: 1.4px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: #44444448;
            z-index: 1;
        }
    }
    @media (max-width: 500px) {
        .footer-sections {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
    }
}
.footer-alt {
    background-color: $mainColor;
    .footer-sections {

        .links {

            h4 {
                color: #fff;
            }

            h4::after {
                background: #ffffffcc;
            }
            ul {
                li {
                    a {
                        color: #ffffff94;
                        &:hover {
                            color: #fff;
                        }
                    }
                    .footer-social {
                        svg {
                            fill: #ffffff94;
                            &:hover {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-legal {
        .footer-legal-copyright {
            color: #ffffffaa;
        }
        .footer-legal-copyright::after {
            background: #ffffff52;
        }
    }
}
