@use "../abstracts" as *;
.instagram-icon {
    .hidden{
        transform: scale(0.1);
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 97;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        cursor: pointer;
        background: #0000004a;
        transition: all .3s;
        svg {
            width: 70%;
            fill: $secondaryColor;
        }
    }
}