@use "../abstracts" as *;
.carousel-img {
    height: 100vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: start !important;
    @media (width < 768px) {
        background-position: center !important;
        height: 60vh;
    }
}
