.whatsapp-icon {
    .hidden{
        transform: scale(0.1);
    }
    a {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 97;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: grid;
        place-content: center;
        background: #40e85e;
        cursor: pointer;
        box-shadow: .1rem .1rem .2rem #535353c9;
        transition: all .3s;
        &:hover,&:focus {
            box-shadow: none;
        }
        svg {
            width: 1.6rem;
            fill: #fff;
        }
    }
}