main {
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/public/assets/2019_Lost_Draw_4_313413d9-2f73-48a3-a101-cc76af727279.jpg);
    background-size: cover;
    background-position: center;
}