@use "../abstracts" as *;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: $primaryFont !important;
}
.hidden {
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translateY(50vh);
}
.show {
    opacity: 1;
    transition: all 1s ease-in-out;
    transform: translateY(0);
}