@use "../abstracts" as *;
.about {
    background: $mainColor;
    min-height: 100vh;
    overflow: hidden;
    .about-main {
        height: 100vh;
        display: flex;
        align-items: center;
        .about-main-description {
            width: 40%;
            height: 100%;
            padding: 1rem 2rem;
            // box-shadow: 1.4rem 0 1rem 2rem $mainColor;
            z-index: 1;
            display: grid;
            place-content: center;

            h3 {
                font-size: $subheading;
            }
            p {
                font-size: $subheading-2;
            }
        }
        .about-main-img {
            width: 50%;
        }
    }
}