@use "../abstracts"as *;

.about {
    background: $mainColor;
    min-height: 100vh;
    overflow: hidden;
    .about-main {
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: row-reverse;
        .about-main-img {
            width: 60%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .about-main-description {
            width: 40%;
            padding: 1rem 2rem;
            display: grid;
            place-content: center;
            h3 {
                font-size: $heading;
                color: #fff;
            }
            p {
                font-size: $subheading-2;
            }
        }
        
    }
    .about-history {
        height: 100vh;
        width: 100%;
        background: $secondaryColor;
        display: grid;
        place-content: center;
        .about-history-wrapper {
            width: 50%;
            min-height: 50vh;
            background: $mainColor;
            margin: 0 auto;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            h3 {
                color: #fff;
            }
            p {
                width: 60%;
                text-align: justify;
                hyphens: auto;
            }
        }
    }
    .about-slider {
        height: 70vh;
        width: 80%;
        margin: 7rem auto;
        .slick-slide{
            display: flex;
            justify-content: center;
            margin: 1rem 0;
            div {
                width: 22vw;
            }
            .about-card-1{
                background: url(/assets/gallery/about/slider-1.JPG);
            }
            .about-card-2{
                background: url(/assets/gallery/about/slider-2.jpg);
            }
            .about-card-3{
                background: url(/assets/gallery/about/slider-3.jpeg);
            }
            .about-card-4{
                background: url(/assets/gallery/about/slider-4.JPG);
            }

            .about-card {
                display: flex;
                align-items: center;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: 3px;
                height: 400px;
                box-shadow: rgba(50, 50, 93, .45) 0px 2px 5px -1px, rgba(0, 0, 0, 1) 0px 1px 3px -1px;
                h3 {
                    font-size: $subheading-2;
                    margin-top: 1rem;
                    color: #fff;
                    text-align: center;
                }
            }
        } 
        .about-arrow {
            width: 2.5rem;
            height: 2.5rem;

            svg {
                fill: #00000061;
                transition: fill .3s;

                &:hover {
                    fill: #181818;
                }
            }

            &::before {
                display: none;
            }
        }

        .right-arrow {
            left: -3rem;
        }

        .left-arrow {
            right: -3rem;
        }
    }
    @media (max-width: 1024px) {
        .about-slider .slick-slide div {
            width: 30vw;
        }
        
    }
    @media (max-width: 768px) {
        .about-main {
            min-height: 100vh;
            margin-bottom: 2.5rem;
            display: block;
            .about-main-description {

                width: 100%;
                box-shadow: none;
                padding-top: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    font-size: 2.5rem;
                    text-align: center;
                }
                p {
                    font-size: $text;
                    width: 70%;
                }
                
            }
            .about-main-img {
                width: 100%;
                height: 70vh;
                overflow: hidden;
            }
            
        }
        .about-history .about-history-wrapper {
            width: 80%;
            margin-bottom: 5rem;
            p{
                width: 80%;
            }
        }
        .about-slider {
            .slick-slide div {
                width: 35vw;
            }
        }
    }
    @media (max-width: 500px) {
        .about-slider {
            width: 90%;
            .slick-slide div {
                width: 70vw;
            }
            .about-arrow {
                width: 2rem;
                height: 2rem;
            }
            .right-arrow {
                left: 0;
            }
            .left-arrow {
                right: 0;
            }
        }
    }
}

