@use "../abstracts"as *;

.about {
    background: $mainColor;
    .about-main {
        height: 100vh;
        overflow: hidden;
        .about-main-img {
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }      
    }
    .about-history {
        padding: 4rem 1rem;
        min-height: 90vh;
        width: 100%;
        background: $secondaryColor;
        display: grid;
        place-content: center;
        .about-history-wrapper {
            width: 50%;
            min-height: 50vh;
            background: $mainColor;
            margin: 0 auto;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem 1rem;
            gap: 1rem;
            h3, h5 {
                font-weight: 700;
                color: #fff;
            }
            p {
                width: 60%;
                color: #fff;
                hyphens: auto;
            }
        }
    }
    .about-slider {
        height: 100vh;
        width: 80%;
        margin: 0 auto;
        padding: 4rem 0 7rem 0;
        .slick-slide{
            display: flex;
            justify-content: center;
            margin: 1rem 0;
            div {
                width: 22vw;
            }
            .about-card-1{
                background: url(/assets/gallery/about/slider-1.JPG);
            }
            .about-card-2{
                background: url(/assets/gallery/about/slider-2.jpg);
            }
            .about-card-3{
                background: url(/assets/gallery/about/slider-3.jpeg);
            }
            .about-card-4{
                background: url(/assets/gallery/about/slider-4.JPG);
            }
            .about-card-5{
                background: url(/assets/gallery/about/slider-5.jpg);
            }
            .about-card-6{
                background: url(/assets/gallery/about/slider-6.jpg);
            }
            .about-card {
                display: flex;
                align-items: center;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: 3px;
                height: 400px;
                box-shadow: rgba(50, 50, 93, .45) 0px 2px 5px -1px, rgba(0, 0, 0, 1) 0px 1px 3px -1px;
                h3 {
                    font-size: $subheading-2;
                    margin-top: 1rem;
                    color: #fff;
                    text-align: center;
                }
            }
        } 
        .about-arrow {
            width: 2.5rem;
            height: 2.5rem;

            svg {
                fill: #00000061;
                transition: fill .3s;

                &:hover {
                    fill: #181818;
                }
            }

            &::before {
                display: none;
            }
        }

        .right-arrow {
            left: -3rem;
        }

        .left-arrow {
            right: -3rem;
        }
    }
    @media (max-width: 1024px) {
        .about-slider .slick-slide div {
            width: 30vw;
        }
        
    }
    @media (max-width: 768px) {
        
        .about-history .about-history-wrapper {
            min-width: 90%;
            p{
                width: 90%;
            }
        }
        .about-slider {
            .slick-slide div {
                width: 35vw;
            }
        }
    }
    @media (max-width: 500px) {
        .about-slider {
            width: 90%;
            .slick-slide div {
                width: 70vw;
            }
            .about-arrow {
                width: 2rem;
                height: 2rem;
            }
            .right-arrow {
                left: 0;
            }
            .left-arrow {
                right: 0;
            }
        }
    }
}

