@use "../abstracts" as *;
.community {
    min-height: 100vh;
    padding: 6rem 0 4.7rem 0;
    background-color: #fff7ed;
    
    .community-nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 2rem;
        row-gap: 1rem;
        max-width: 90%;
        margin: 0 auto;
        .community-section {
            font-family: $tertiaryFont;
            font-size: 1.2rem;
            color: $tertiaryColor;
            font-weight: 600;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            transition: .3s;
            padding: .6rem .8rem;
            background: #96969613;
            border-radius: 1rem;
            &:hover {
                color: $primaryColor;
            }
        }
        .active {
            color: $primaryColor;
        }
    }
    .community-card-container {
        padding-top: 3rem;
        display: flex;
        max-width: 95%;
        margin: 0 auto;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
        .community-card {
            box-shadow: rgba(50, 50, 93, 0.35) 0px 2px 5px -1px, rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
            background-color: $secondaryColor;
            width: 300px;
            height: 400px;
            border-radius: 4px;
            overflow: hidden;
            animation: show-card .7s ease;
            .card-img img {
                width: 100%;
            }
        }
    }
}
@keyframes show-card {
    0% {
        transform: translateY(3rem);
        opacity: 0;
        filter: blur(3px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}