@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Shadows Into Light', cursive;
$tertiaryFont: 'Playfair Display', serif;
$heading: 4rem;
$subheading: 2.8rem;
$subheading-2: 1.3rem; 
$text: 1rem;

@media (max-width: 768px) {
    $subheading: 1.5rem;
}