.underline-anim {
    width: max-content;
    position: relative;
}
.underline-anim::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 1.6px;
    left: 0;
    background-color: #fff;
    transition: all .3s ease-in-out;
    transform: scaleX(0);
    border-radius: 15px;
}
.underline-anim:hover:after {
    transform: scaleX(1);
}